---
const arrowDownRightSrc = "/src/assets/arrow-turn-down-right.svg";

interface Props {
  text: string;
}

const props = Astro.props;
---

<div class="flex flex-row items-center pb-1">
  <img
    src={arrowDownRightSrc}
    alt="Arrow down right icon"
    class="stroke-2 pr-2"
  />
  <p class="font-base text-sm">{props.text}</p>
</div>
