---
const formatTime = (date: Date): string =>
  date.toLocaleTimeString("en-US", {
    hour: "2-digit",
    minute: "2-digit",
    second: "2-digit",
    hour12: false,
    timeZone: "Asia/Ho_Chi_Minh",
  });
const initialTime = formatTime(new Date());
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    function updateTime() {
      const timeElement = document.getElementById("real-time-clock");
      if (timeElement) {
        const now = new Date();
        timeElement.textContent = now.toLocaleTimeString("en-US", {
          hour: "2-digit",
          minute: "2-digit",
          second: "2-digit",
          hour12: false,
          timeZone: "Asia/Ho_Chi_Minh",
        });
      }
    }

    // Update the clock every second
    setInterval(updateTime, 1000);
    // Set the initial time
    updateTime();
  });
</script>

<div id="real-time-clock" class="whitespace-nowrap text-sm">
  {initialTime}
</div>
