---
import Link from "./Link.astro";
---

<footer class="flex w-full flex-row items-center px-8 py-6">
  <p class="flex w-full whitespace-nowrap text-sm">
    Made with
    <img src="assets/logo.svg" alt="Logo" height="13" width="13" class="mx-2" />
    by kroostille
  </p>
  <div class="flex w-full flex-row items-center justify-end space-x-6 text-sm">
    <Link href="" external>Twitter</Link>
    <Link href="" external>Email</Link>
    <Link href="" external>Resume</Link>
  </div>
</footer>
