---
import Link from "./Link.astro";
---

<footer class="flex w-full flex-col-reverse px-4 py-6 sm:flex-row md:px-8">
  <p class="flex w-full items-center whitespace-nowrap text-sm">
    Made with
    <img
      src="/assets/logo.svg"
      alt="Logo"
      height="13"
      width="13"
      class="mx-2"
    />
    by kroostille
  </p>
  <div
    class="flex w-full flex-col sm:flex-row sm:flex-nowrap items-start sm:space-x-2 md:space-x-4 pb-8 text-sm sm:justify-end sm:pb-0"
  >
    <div class="flex flex-nowrap space-x-8 sm:space-x-2 md:space-x-4"> 
      <Link href="https://x.com/DockVaimiti" external>Twitter</Link>
      <Link href="https://www.behance.net/vaimitidock" external>Behance</Link>
      <Link href="https://dribbble.com/Vai_d" external>Dribbble</Link>
      <Link href="https://github.com/kroostille" external>Github</Link>
    </div>
    <div class="flex flex-row items-start space-x-8 sm:space-x-2 md:space-x-4 pt-4 sm:pt-0">
      <Link href="https://www.linkedin.com/in/vaimiti-dock/" external
      >LinkedIn</Link
      >
      <Link
        href="https://drive.google.com/file/d/1wLqrG3zB2l-GjOBbVqheMxieMvl8_u6O/view?usp=sharing"
        external>Resume</Link
      >
    </div>
  </div>
</footer>
