---
interface Props {
  href: string;
  external?: boolean;
}

const props = Astro.props;
---

<a
  href={props.href}
  class="text-sm font-medium tracking-wide"
  target={props.external ? "_blank" : "_self"}
  rel={props.external ? "noopener noreferrer" : ""}
>
  <slot />
</a>
