---
interface Props {
  type: "video" | "image";
  src: string;
  alt: string;
}

const props = Astro.props;
---

<div class="content-start overflow-hidden rounded-lg border border-neutral-800">
  {
    props.type === "video" ? (
      <video playsinline autoplay loop muted>
        <source src={props.src} type="video/mp4" />
      </video>
    ) : (
      <img src={props.src} alt={props.alt} />
    )
  }
</div>
