---
interface Props {
  type: "video" | "image";
  src: string;
  alt: string;
}

const props = Astro.props;
---

<div class="content-start overflow-hidden rounded-xl">
  {
    props.type === "video" ? (
      <video
        playsinline
        autoplay
        loop
        class="scale-105 overflow-hidden rounded-xl"
      >
        <source src={props.src} type="video/mp4" />
      </video>
    ) : (
      <img src={props.src} alt={props.alt} class="overflow-hidden rounded-xl" />
    )
  }
</div>
