---
import Link from "./Link.astro";
import Clock from "./Clock.astro";
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  DropdownSubmenu,
} from "astro-navbar";
---

<div class="flex w-full flex-col px-4 py-6 sm:py-0 md:px-8">
  <Astronav>
    <div class="flex w-full flex-col space-y-6 sm:flex-row sm:space-x-6">
      <div class="flex w-full justify-between lg:w-1/3 lg:flex-none">
        <a href="/" class="flex flex-none flex-row items-center">
          <img src="/assets/logo.svg" alt="Logo" class="pr-1.5" />
          <p class="text-sm font-medium">VAI.D</p>
        </a>
        <MenuIcon class="h-4 w-4 text-gray-800 sm:hidden" />
      </div>
      <MenuItems class="hidden sm:flex sm:pb-6 lg:w-full">
        <ul class="flex flex-col sm:flex-row sm:space-x-6">
          <li class="flex flex-nowrap sm:space-x-6">
            <Link href="/"> Home </Link>
            <p class="hidden text-sm sm:flex">&middot</p>
          </li>
          <li class="sm:flex sm:flex-nowrap sm:space-x-6">
            <Link href="/about"> About </Link>
            <p class="hidden text-sm sm:flex">&middot</p>
          </li>
          <li class="flex flex-nowrap sm:space-x-6">
            <Link href="/playground"> Playground </Link>
            <p class="hidden text-sm sm:flex">&middot</p>
          </li>
          <li class="flex flex-nowrap sm:space-x-6">
            <Link href="mailto:vaimiti.dock@gmail.com">Contact</Link>
          </li>
        </ul>
      </MenuItems>
      <div class="hidden justify-end space-x-2 lg:flex lg:flex-nowrap">
        <Clock />
        <p class="text-sm">Malaysia</p>
      </div>
    </div>
  </Astronav>
</div>

{
  /*
<nav class="flex w-full flex-row items-center space-x-6 px-8 py-6">
  <div class="flex w-1/3 flex-none flex-row items-center">
    <img src="/assets/logo.svg" alt="Logo" class="pr-1.5" />
    <p class="text-sm font-medium">VAI.D</p>
  </div>
  <menu class="flex w-full space-x-8 text-sm">
    <Link href="/">Home</Link>
    <p class="text-sm">&middot</p>
    <Link href="/about">About</Link>
    <p class="text-sm">&middot</p>
    <Link href="/playground">Playground</Link>
    <p class="text-sm">&middot</p>
    <Link href="mailto:vaimiti.dock@gmail.com">Contact</Link>
  </menu>
  <div class="sr-only flex flex-nowrap space-x-2 lg:not-sr-only">
    <Clock />
    <p class="text-sm">Malaysia</p>
  </div>
</nav>
*/
}
