---
interface Props {
  source: string;
  type: string;
  description1: string;
  description2: string;
}

const { source, type, description1, description2 } = Astro.props;
---

<div class="flex w-full flex-col">
  <div class="bg-cove content-start overflow-hidden rounded-xl">
    <video playsinline autoplay loop class="scale-105">
      <source src={source} type={type} /></video
    >
  </div>
  <div class="flex flex-row items-baseline pt-2">
    <img
      src="/assets/arrow-turn-down-right.svg"
      alt="Arrow down right icon"
      class="stroke-2 pr-2"
    />
    <p class="text-sm">{description1} &middot {description2}</p>
  </div>
</div>

<style>
  div {
    background-color: white;
    clip-path: circle(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  video {
    object-fit: cover !important;
    height: 100%;
    width: 100%;
  }
</style>
