---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { projects } from "../../lib/projects";
import DefaultCard from "../../components/DefaultCard.astro";
import Media from "../../components/Media.astro";
import PaginationButton from "../../components/PaginationButton.astro";

const project = projects.find((project) => project.id === "shadow-wallet");
---

<ProjectLayout project={project!}>
  <main class="size-full">
    <div class="flex w-full lg:place-content-center">
      <div
        class="flex w-auto flex-col space-y-2 px-4 pb-52 md:space-y-4 md:px-8 lg:max-w-screen-md 2xl:max-w-screen-lg"
      >
        <h3 class="w-full font-medium">Starting from the ground up</h3>
        <p class="w-full text-sm">
          Shadow Wallet is a new product that we decided to launch with the
          team. Initially, our goal was to provide users with a non-custodial
          wallet alternative in the market which will allow them to have the
          full control on their digital assets and avoid the painful KYC (know
          Your Customer) step. <br /> Later, we expanded our vision for this product
          to offer a deeper and seamless user experience with enhanced capabilities
          when connecting Shadow Wallet to Shadow Exchange. <br />
          <br /> The primary challenge for me was launching a product from the ground
          up. With that in mind, prioritizing the most important features was one
          of my critical responsibilities with design and planning. For this project,
          we agreed to ship fast and iterate instead of developing and releasing
          big features at a time. <br /> In a niche and fast-evolving market, our
          goal was to quickly catch up with competitors and then, stay ahead.
        </p>
      </div>
    </div>
    <div class="mb-52 flex max-w-full overflow-visible">
      <div
        class="flex flex-row flex-nowrap space-x-4 overflow-scroll px-4 md:px-8"
      >
        <div class="flex w-3/6 flex-none md:w-4/12 lg:w-3/12">
          <Media
            type="image"
            src="/assets/projects/shadow-wallet/setup-create.png"
            alt="First wallet screen"
          />
        </div>
        <div class="flex w-3/6 flex-none md:w-4/12 lg:w-3/12">
          <Media
            type="image"
            src="/assets/projects/shadow-wallet/setup-password.png"
            alt="Create password"
          />
        </div>
        <div class="flex w-3/6 flex-none md:w-4/12 lg:w-3/12">
          <Media
            type="image"
            src="/assets/projects/shadow-wallet/setup-progress.png"
            alt="Generating new wallet"
          />
        </div>
        <div class="flex w-3/6 flex-none md:w-4/12 lg:w-3/12">
          <Media
            type="image"
            src="/assets/projects/shadow-wallet/setup-name.png"
            alt="Give name to wallet"
          />
        </div>
        <div class="flex w-3/6 flex-none md:w-4/12 lg:w-3/12">
          <Media
            type="image"
            src="/assets/projects/shadow-wallet/setup-save.png"
            alt="Save wallet key access"
          />
        </div>
        <div class="flex w-3/6 flex-none md:w-4/12 lg:w-3/12">
          <Media
            type="image"
            src="/assets/projects/shadow-wallet/setup-done.png"
            alt="Set up wallet is done"
          />
        </div>
      </div>
    </div>
    <div class="flex w-full lg:place-content-center">
      <div
        class="flex w-auto flex-col space-y-2 px-4 pb-52 md:space-y-4 md:px-8 lg:max-w-screen-md 2xl:max-w-screen-lg"
      >
        <h3 class="w-full font-medium">Enabling multiple accounts</h3>
        <p class="w-full text-sm">
          At this stage, Shadow Wallet had the key features to compete. The next
          goal was to let users manage multiple accounts. <br />
          <br /> To begin, we defined and aligned on how an account works in the
          blockchain context. Then, I researched how users interact with their accounts
          and their needs to generate more addresses. I explored advanced wallets,
          collected feedback on Twitter and Discord, and identified three possibilities
          for representing an account. The first was to have (1) one account per
          blockchain address, the second (2) one account for multiple addresses,
          and the third (3) a global account with sub-accounts supporting multiple
          addresses. <br />
          <br />We decided to start with the first and simplest option and
          planned to evolve to the second option. This choice was partly due to
          our need to ship fast, having only one dedicated front-end developer,
          and facing blockchain-related technological limitations.
        </p>
      </div>
    </div>
    <div class="flex w-full justify-end px-4 pb-52 md:px-8">
      <DefaultCard
        mediaType="image"
        mediaSrc="/assets/projects/shadow-wallet/wallet-settings.png"
        style="w-full lg:w-10/12"
        justify="end"
        title="Manage accounts and tokens"
        showDescription={false}
      />
    </div>
    <div class="flex w-full lg:place-content-center">
      <div
        class="flex w-auto flex-col space-y-2 px-4 pb-52 md:space-y-4 md:px-8 lg:max-w-screen-md 2xl:max-w-screen-lg"
      >
        <h3 class="w-full font-medium">Going multi-chains</h3>
        <p class="w-full text-sm">
          We wanted to give our users the ability to manage their assets on
          other blockchains and after debating which blockchain to integrate
          first, we decided on Aptos. It is the closest to Flow blockchain in
          terms of technology and was heavily marketed online, targeting the
          same audience. <br />
          <br />
          The main challenge was to design an intuitive and consistent user experience
          while integrating assets from blockchain ecosystems that have different
          functionalities and use different terminology. <br />
          <br /> This challenge started right at the onboarding phase. For example,
          creating a new account involves setting up both Flow and Aptos addresses.
          When importing an existing account, users can choose the blockchain to
          import from, whether it's a single or multi-chain account. However, to
          start using Aptos features beyond receiving airdrops, users must sign a
          transaction. Until then, users can only receive airdrops and need to claim
          the assets. In contrast, on the Flow blockchain, transfers are direct from
          the start.
        </p>
      </div>
    </div>
    <div class="flex w-full px-4 pb-52 md:px-8">
      <DefaultCard
        mediaType="video"
        mediaSrc="/assets/projects/shadow-wallet/swap-tokens.mp4"
        style="w-5/6 md:w-6/12 lg:w-5/12"
        justify="start"
        title="Instantly swap tokens"
        showDescription={false}
      />
    </div>
    <div class="flex w-full justify-end px-4 pb-52 md:px-8">
      <DefaultCard
        mediaType="image"
        mediaSrc="/assets/projects/shadow-wallet/nft-portfolio.png"
        style="w-full lg:w-10/12"
        justify="end"
        title="Showcase & Transfer NFTs"
        showDescription={false}
      />
    </div>
    <div class="flex w-full px-4 pb-52 md:px-8">
      <DefaultCard
        mediaType="video"
        mediaSrc="/assets/projects/shadow-wallet/list-nft.mp4"
        style="w-5/6 md:w-6/12 lg:w-5/12"
        justify="start"
        title="List NFTs on Shadow Exchange"
        showDescription={false}
      />
    </div>
    <div class="flex w-full lg:place-content-center">
      <div
        class="flex w-auto flex-col space-y-2 px-4 pb-64 pt-16 md:space-y-4 md:px-8 lg:max-w-screen-md 2xl:max-w-screen-lg"
      >
        <h3 class="w-full font-medium">Results</h3>
        <p class="w-full text-sm">
          This project was challenging in both design and technical aspects.
          Starting from scratch, we went with a "Ship, Iterate, Repeat" strategy
          to quickly gain market share and stay ahead of the competition. I
          learned a lot about adapting and quickly crafting designs, as well as
          prioritizing and planning feature releases. <br />
          <br /> I'm proud it resulted in over 1,000 downloads in a niche and fast-evolving
          market.
        </p>
      </div>
    </div>
    <div class="flex flex-row border-b-2 border-dotted px-4 pb-6 md:px-8">
      <PaginationButton
        href="onix"
        justify="start"
        label="Previous"
        page="Onix Wallet"
      />
      <PaginationButton
        href="shadow-exchange"
        justify="end"
        label="Next"
        page="Shadow Exchange"
      />
    </div>
  </main>
</ProjectLayout>
