---
import "@fontsource-variable/roboto-mono";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.svg" />
    <meta
      name="description"
      content="I'm Vaimiti Dock, an Independent Product Designer exploring the SEA who 
likes to create aesthetically pleasing and functional interfaces."
    />
    <meta name="viewport" content="width=device-width" />
    <link href="favicon.svg" type="image/svg+xml" rel="icon" sizes="140x140" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Vaimiti DOCK | Design Portfolio" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://vaimitidock.com/" />
    <meta
      property="og:image"
      content="https://vaimitidock.com/opengraph-banner.png"
    />
    <meta
      property="og:description"
      content="Vaimiti Dock is an Independent Product Designer exploring the SEA."
    />
    <meta property="twitter:title" content="Vaimiti DOCK | Design Portfolio" />
    <meta property="twitter:description" content="text" />
    <meta property="twitter:url" content="https://vaimitidock.com/" />
    <meta
      property="twitter:image"
      content="https://vaimitidock.com/opengraph-banner.png"
    />
    <meta property="twitter:card" content="summary_large_image" />
  </head>
  <body class="relative flex h-fit w-full flex-col">
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "Spline Sans Mono", monospace;
    background: #fff;
    color: #27272a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
